{% load static %}
<!DOCTYPE html>
<html lang=”en”>

<head>
	<meta charset=”UTF-8″ />
	<title>Gestor Gimnasio</title>

	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'styles/page.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">

</head>

<body>
	{% block content %}
	{% endblock %}
</body>
{% load static %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
{% load static %}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{% load static %}
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
{% load static %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{% load static %}
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
{% load static %}
<script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>
{% load static %}
<script type="text/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>

</html>